/* All */
html{
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-size: 21px;
}
.container {
    width: 100%;
}


/* Header */
.container .header table {
    display: inline;
    margin: 0%;
    padding: 1% 0%;
    float: left;
    width: 100%;
    background-color: rgb(70, 181, 255);
}
.container .header tr td:first-child {
    width: 7%;
    padding: 0% 1% 0% 1%;
}
.container .header img {
    width: 100%;
}
.container .header header h1 {
    width: 93%;
    margin: 0%;
}
.container .header header h1 a {
    text-decoration: none;
    color: black;
}


/*TopBar */
.container nav.topbar table {
    background-color: rgb(73, 73, 73);
    width: 100%;
}
.container nav.topbar table tr td {
    padding: 0%;
}
.container nav.topbar table tr td ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.container nav.topbar table tr td ul li {
    float: left;
    width: auto;
    height: auto;
}
.container nav.topbar table tr td.none {
    width: auto;
}
/* Anchor:... */
.container nav.topbar table tr td ul li a{
    color: white;
    display: block;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
}
.container nav.topbar table tr td ul li a:hover {
    font-weight: bolder;
    background-color: black;
}


/* Profile */
.container .profile table {
    width: 100%;
    margin-top: 10px;
}
.container .profile .profilepicture {
    width: 13%;
    padding: 0% 1% 0% 1%;
}
.container .profile .profilepicture img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container .profile table tr td {
    width: 87%;
}


/* Main */
.container .main table tr td div u h3{
    font-size: 32px;
}
/* Left */
.container .main table tr td.mainleft {
    vertical-align: top;
    width: 60%;
    padding: 10px;
}
.container .main table tr td.mainleft div.description p {
    text-align: justify;
}
.container .main table tr td.mainleft div.personaldata table tr td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 25px;
}
/* Right */
.container .main table tr td.mainright {
    vertical-align: top;
    width: 40%;
    padding: 10px;
}
.container .main table tr td.mainright div.Contacts table tr td a img {
    width: 45px;
    height: 45px;
}
.container .main table tr td.mainright div.Contacts table tr td a img:hover {
    box-shadow: 0 0 8px grey;
}
.container .main table tr td.mainright div.Contacts table tr td a:hover {
    font-weight: bolder;
}


/* Footer */
.container .footer {
    color: white;
    padding-left: 10px;
    background-color: rgb(73, 73, 73);
}
.container .footer small a {
    color: rgb(71, 207, 241);
}
.container .footer small a:hover {
    font-weight: bolder;
}

.wrapper{
    
}

nav .wrapper{
    justify-content: space-between;
    background-color: #152D35;
    display: flex;
    
}

.wrapper ul{
    position: relative;
    margin: 32px 16px;
}

.wrapper li{
    display: inline-block;
}

nav .wrapper li a{
    padding: 12px;
    font-size: 18px;
    color: #cdcece;
    text-decoration: none;
}

nav .wrapper li a:hover{
    padding: 12px;
    font-size: 18px;
    color: #cdcece;
    text-decoration: none;
    background-color: #112031;
}

nav .wrapper h2 a{
    margin: 32px;
    font-size: 28px;
    color: #cdcece;
    text-decoration: none;
}

.data{
    display: flex;
}

#identity img{
    margin: 24px;
    width: 10%;
    height: 10%;
}

.data-detail{
    margin: 0px 32px;
    color: #D4ECDD;
}

.data-about{
    margin: 12px;
}

#identity{
    background-color: #22577A;
}

#teams li{
    display: block;
}

#teams a{
    color: #112031;
    text-decoration: none;
}

#teams a:hover{
    color: #112031;
    text-decoration: underline;
}

#contact img{
    margin: 0px 12px;
    width: 24px;
    height: 24px;
}

#contact a{
    color: #22577A;
    text-decoration: none;
}

#teams, #contact{
    margin: 12px;
}