html {
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

body {
    font: 16px/28px 'Times New Roman', arial, sans-serif;
    color:#333;
    height: 100%;
}

body.index {
    /* background-color: #bdd9ff; */
}

/* index.html */
nav.main {
    background-color: #f1fbff;
    width: 100%;
    padding: 10px;
    z-index: 5;
    position: fixed;
}

nav.main ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

nav.main ul li {
    list-style-type: none;
    height: 30px;
}

nav.main ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #252525;
}

/* Home */
#home {
    background-image: url(images/behepi.png);
    background-size: cover;
    background-position: 0 -77px;
    height: 570px;
}

#home .topik {
    position: absolute;
    top: 80px;
    left: 90px;
    line-height: 50px;
}

#home .topik h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-style: italic;
    font-weight: bolder;
    font-size: 50px;
}

#home h1 span {
    margin-left: 20px;
    font-style: normal;
    font-weight: lighter;
}

/* Learn */
#learn {
    background-color: #D4ECDD;
    padding: 20px;
    
}

#learn header h1 {
    padding: 10px;
    margin-top: 20px;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

#learn .learning {
    margin: 20px auto;
    padding: 20px;
    width: 900px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#learn .learning .html .header {
    background-image: url(images/html.png);
}

#learn .learning .css .header {
    background-image: url(images/css-3.png);
}

#learn .learning .javascript .header {
    background-image: url(images/javascript.png);
}
#learn .learning .Python .header {
    background-image: url(images/image.png);
}
#learn .learning .php .header {
    background-image: url(images/php.png);
}
#learn .learning .other .header {
    background-image: url(images/coderborr.png);
}

#learn .learning a {
    color: #333;
    width: 300px;
    margin: 15px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    background: #ffffff73;
    box-shadow: 0 8px 20px 0 #1f26875e;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    transition: 0.3s;
}

#learn .learning a:hover {
    width: 300px;
    margin: 15px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    background: #ffffff73;
    box-shadow: 0 8px 20px 0 #1f26875e;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    background: linear-gradient(315deg, #b8eaff, #aac3e6);
    box-shadow: -5px -5px 20px #93a9c7,
                5px 5px 20px #e7ffff;
}

#learn .learning h3 {
    padding: 10px;
}

#learn .learning .header {
    height: 100px;
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
}

#learn .learning .content {
    text-align: center;
}

/* About Us */
#about_us {
    background-color: #664E88;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    border: 1px solid white;
    padding: 20px;
}

#about_us .profile {
    padding: 0px;
    margin: 70px auto;
    padding: 20px;
    width: 900px;
    border-radius: 5px;
    background: linear-gradient(145deg, #664E88, #664E88);
    box-shadow: 20px 20px 60px #664E88,
                -20px -20px 60px #664E88;
}

#about_us .profile header h1 {
    padding: 15px;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: white;
}

#about_us .profile nav {
    margin-top: 50px;
}

#about_us .profile nav.kelompok5 ul {
    display: flex;
    justify-content: space-evenly;
}

#about_us .profile nav.kelompok5 ul li {
    list-style: none;
    display: flex;
}

#about_us .profile nav.kelompok5 ul li a {
    text-decoration: none;
    padding: 0 20px;
    width: 200px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    color: #333;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    /* background-color: #d6e7ff; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: baseline;
    transition: 0.3s;
}

#about_us .profile nav.kelompok5 ul li a img {
    width: 125px;
    height: 125px;
}

#about_us .profile nav.kelompok5 ul li a:hover {
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    background-color: #ebebeb;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(315deg, #cae8ff, #aac3e6);
    box-shadow: -5px -5px 20px #93a9c7,
                5px 5px 20px #e7ffff;
}

/* page_daniel-n9.html */
body.profileDaniel {
    background-color: #e6f0ff;
}

.profileDaniel nav ul {
    background-color: #90deff;
    display: flex;
    justify-content: center;
}

.profileDaniel nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 5px 20px;
}

.profileDaniel nav ul li a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.page .photoProfile h2 {
    font-size: 50px;
}

.page .photoProfile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page .photoProfile img {
    width: 200px;
    height: 200px;
}
.handy-p {
    border-radius: 100px;
}
